html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box-model*/
    scroll-snap-type: y mandatory; /*Efecto de scroll en el eje y*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Encabezado*/

.header {
    position: fixed;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
    background-color: #2e3236;
}

header.abajo {
    background: #fff;
    padding: 15px 20px;
}

.container {
    position: relative;
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-around;
    background-color: aquamarine;
    width: 100%;
}

.icono {
    width: 9rem;
    border-radius: 5rem;
}

.text-input {
    display: flex;
    align-items: center;
}

.buscador {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 2rem;
    border-style: dashed;
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    height: 3.5rem;
    outline: none;
}

.iconoBuscar {
    font-size: 3rem;
    color: white;
}

header.abajo .iconoBuscar  {
    color: black;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addProduct {
    text-decoration: auto;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.1rem;
    border: 0;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #e8a726;
    transition: 0.5s;
}

addProduct:hover {
    letter-spacing: 0.25em;
    box-shadow: 0 0 3.5rem yellow;
}

/*MODAL*/

.titulo-modal {
    font-size: 2rem;
}

.etiqueta-label {
    font-size: 1.5rem;
}

.input-formulario {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #f9fadc;
    outline: none;
    border: none;
}

.pie-modal {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

.btn-cerrar-dialogo {
    background-color: #cf1500;
    color: white;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin: 1rem;
}
.btn-agregar-producto {
    background-color: #258a60;
    color: white;
    outline: none;
    border: 0;
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Seccion principal*/

.main {
    padding-top: 12rem;
    background-color: #2e3236;
}

.carrusel {
    position: relative;
    height: 50rem;
    width: 100vw;
}

.carusel-img {
    height: 48rem;
}

.carr-imagenes {
    width: 80vw;
}

/*SECCION DE PRODUCTOS*/
.productos {
    height: 4.5rem;
    background-color: blueviolet;
}

.product-content {
    margin: 1rem;
}