body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;

}

.muestra{
    width: 70%;
    height: 100vh;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor {
    width: 30%;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 20px;
    display: flex;

    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 10px;
}

.cuadro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #f1d3ab;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: azure;

    padding: 20px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;}

  
label {
    text-align: left;
    margin-right: 1rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

button {
    margin: 1rem 0;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    padding-left: 0.4rem;
    width: 50%;
    height: 3rem;
    background-color: #ffd100ba;
    outline: none;
    border-color: #d1b01a;
}

input {
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #f3f3f3;
    font-family: 'Comfortaa', cursive;
    height: 2rem;
    outline: none;
}
  
.inputCorreo{
    width: 100%;
}
